#zoneResult div {
    float: left;
    padding: 20px;
}
#questionsContainer
{
    border: 1px solid black;
    padding: 5px;
    
}
#questionsContainer .heading
{
    font-size:  26px;
}
.question
{
    padding: 10px;
}
.optionlist
{
    padding:20px;
}